.popup__container{
    position: fixed;
    height: 330px;
    width: 430px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: #FFFFFF;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width:767px){
    .popup__container{
        height: 322px;
        width: 282px;
    }
}